// Wrapper
.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;

    img {
        width: 30px;
    }
}
.selection {
    top: 0;
    right: 0;
    width: 70%;
    height: 50vh;
    position: absolute;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;

    img {
        align-self: flex-end;
    }
}