// Wrapper
.wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    margin-bottom: 1rem;

    img {
        width: 30px;
    }
}
.selection {
    top: 0;
    right: 0;
    width: 90%;
    height: auto;
    position: absolute;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;

    img {
        align-self: flex-end;
    }
}
.selected {
    border: 1px solid white;
    margin-bottom: 1rem;
    padding-block: 1rem;
    border-radius: 0.25rem;
    text-align: center;

    h3 {
        margin-bottom: 1rem;
    }

    button {
        border-radius: 0.25rem;
        border: 1px solid white;
        padding: 0.25rem;
    }
    input {
        width: 30%;
        border-radius: 0.25rem;
        border: 1px solid white;
        padding: 0.25rem;
    }
}
.options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}