// Wrapper div
.wrapper {
    max-width: 500px;
    margin-inline: auto;
    padding-inline: 2rem;
    padding-bottom: 2rem;
    background-color: grey;
    color: white;
}
// Selection div
.selection {
    display: flex;
    justify-content: space-around;
    padding-block: 1rem;
}